body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  background-image: url('./assets/Images/background.jpg');
  background-size: cover;
  background-position: bottom;
}

.main-container {
  max-width: 900px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  flex: 1 1 100%;
}

.main-container.player-visible {
  justify-content: center;
}

.main-container h1 {
  text-align:center;
  margin-bottom: 50px;
  font-size:60px;
  margin-top:100px;
  color: white;
  font-weight:100;
}

/* URL Input */
.url-form {
  --input-radius: 30px; 
}

.url-form input {
  border: none;
  background: #fff;
  border-radius: var(--input-radius) 0px 0px var(--input-radius);
  padding: 17px;
  height: 45px;
  width: 400px;
  max-width: 100%;
}

.url-form button {
  border: 0;
  background: rgba(66, 65, 65, 0.678);
  color: white;
  margin-left: -5px;
  height: 45px;
  border-radius: 0px var(--input-radius) var(--input-radius) 0px;
  padding-right: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.url-form label {
  display: block;
  color:white;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 20px;
}
/* URL Input End */

/** Camera Viewer **/
 .camera-container {
  width:100%;
  height:500px;
  max-height: 90vh;
  position: relative;
  overflow:hidden;
}
.camera-container img {
  width: 100%;
  height:100%;
}

.camera-container.mouse-idle:fullscreen {
  cursor: none;
  transition: cursor 0s 0.3s linear;
}
/* Camera Controls */
.camera-container.mouse-idle .camera-controls {
  opacity: 0;
  transition: opacity 0.2s 0.1s ease-in;
}
.camera-container.mouse-idle .camera-controls button {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.camera-controls {
  opacity: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* pointer-events: none; */
  display: flex;
  padding: 10px;
  padding-top:20px;
  justify-content: right;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.63) 0%, rgba(0,0,0,0.3267506831834296) 74%, rgba(255,255,255,0) 100%)
}

.camera-controls button {
  pointer-events: all;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(213, 213, 213, 0.7);
}

.camera-controls button:focus-visible {
outline: 2px solid rgb(73, 188, 255);
}

.camera-controls button:hover {
  color: rgba(233, 233, 233, 0.9);
}
.camera-controls button:active {
  border:none;
  padding-left:8px;
  padding-right:8px;
  margin-left:0px;
}
.camera-controls button:active .icon-wrapper {
  transform:scale(0.8);
  transform-origin: center;
  transition: transform ease-out 0.05s;
}
.camera-controls button .icon-wrapper {
  display: inline-block;
}
.camera-controls button svg {
  width:30px;
}

/* pause/play button */
.camera-controls #playPauseBtn {
  margin-right: auto;
}
.camera-controls #playPauseBtn span {
  pointer-events: none;
}
/* buttons state: pause */
.camera-controls #playPauseBtn[data-state="pause"] .pause-icon {
  display: default;
}
.camera-controls #playPauseBtn[data-state="pause"] .play-icon {
  display: none;
}
/* buttons state: play */
.camera-controls #playPauseBtn[data-state="play"] .play-icon {
  display: default;
}
.camera-controls #playPauseBtn[data-state="play"] .pause-icon {
  display: none;
}
/* Snapshot button */
.camera-controls #snapshotBtn {
  margin-right: 10px;
}
.camera-controls #optionsBtn {
  margin-right:10px;
}
/* Fullscreen button */
.camera-controls #fullscreenBtn span {
  pointer-events: none;
}
/* when not in fullscreen */
.camera-container:not(:fullscreen) #fullscreenBtn .go-fullscreen-icon {
  display:default;
}
.camera-container:not(:fullscreen) #fullscreenBtn .exit-fullscreen-icon {
  display:none;
}
/* when fullscreen */
.camera-container:fullscreen #fullscreenBtn .go-fullscreen-icon {
  display:none;
}
.camera-container:fullscreen #fullscreenBtn .exit-fullscreen-icon {
  display:default;
}

/* Overlays */
/* Snapshot overlay */
.camera-container.snapshot-flash {
  /* animation: flash 0.5s; */
  z-index:inherit;
}
.camera-container.snapshot-flash .snap-overlay {
  animation: fadeOutGrow 0.5s;
  display: flex;
}
.camera-container .snap-overlay {
  display: none;
  animation:none;
  transform-origin: center;
  margin:0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  bottom:0;
  /* display:block; */
  width:100%;
  height:100%;
  pointer-events: none;
}
.camera-container .snap-overlay svg {
  width:150px;
  max-width:90%;
  max-height:90%;
  color: white;
  opacity:20%;
}
/* Connection Error overlay*/
.camera-container[data-connection-err="true"] .con-err-overlay {
  display:flex;
}
.camera-container[data-connection-err="false"] .con-err-overlay {
  display:none;
}
.camera-container .con-err-overlay {
  display: none;
  position: absolute;
  top:0;
  right:0;
  align-items: center;
  color:white;
  background:#0d0000a8;
  padding: 5px 10px;
  /* pointer-events: none; */
  z-index: 2;
}
.camera-container .con-err-overlay .overlay-icon {
  margin-right: 3px;
}
.camera-container .con-err-overlay svg {
  width: 40px;
  color:rgb(255, 0, 0);
}
/* Options menu overlay */
.camera-container .options-overlay {
  display: none;
  position: absolute;
  width: 250px;
  height: 137px;
  background: rgb(28,28,28,.9);
  bottom: 56px;
  box-sizing: border-box;
  right: 10px;
  padding:8px 0;
  border-radius: 6px;
  overflow: hidden;
}
.camera-container .options-overlay.expanded {
  display: block;
  animation: fadeIn 0.16s ease;
}
.camera-container .options-overlay.fadeOut {
  animation: fadeOut 0.25s ease;
}
.camera-container .options-overlay .menuitem {
  display: flex;
  align-items: center;
  color: #eee;
  cursor: pointer;
  height:40px;
}
.camera-container .options-overlay .menuitem * {
  pointer-events: none;
  user-select: none;
}
.camera-container .options-overlay .menuitem:hover {
  background: rgba(255, 255, 255, 0.11);
}
.camera-container .options-overlay .menuitem-icon {
  padding: 0 10px;
}
.camera-container .options-overlay .menuitem-label {
  padding-right:15px;
}
.camera-container .options-overlay .menuitem-icon svg {
  display: block;
  width: 24px;
  height:24px;
  color:#eee;
}
.camera-container .options-overlay .menuitem-checkbox {
  height: 14px;
  width: 36px;
  background: rgb(255,255,255,.3);
  border-radius: 14px;
  margin-left: auto;
  margin-right: 15px;
  transition: all .08s cubic-bezier(.4,0,1,1);
  transform: scale(1);
}

.camera-container .options-overlay .menuitem-checkbox::after {
  content: '';
  display:block;
  right:0;
  width:21px;
  height:21px;
  margin-top: -3px;
  background: #bdbdbd;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 60%);
  border-radius: 50%;
  transition: all .08s cubic-bezier(.4,0,1,1);
}
/*Menuitem Checked */
.camera-container .options-overlay .menuitem[aria-checked=true] .menuitem-checkbox  {
  background: #f00;
}
.camera-container .options-overlay .menuitem[aria-checked=true] .menuitem-checkbox::after  {
  background: #fff;
  transform: translateX(16px);
}

/** Camera Viewer end **/

/* Toast */
.msg-container {
  --fade-in-time: 700ms;
  --fade-out-time: 300ms;
  display: flex;
  align-items: center;
  max-width: 100%;
  width:600px;
  background: lightblue;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 20px;
  color:rgba(21, 21, 21, 0.67);
  gap: 20px;
  justify-content: space-between;
  opacity:1;
  transition: visibility 0s, opacity var(--fade-in-time) ease;
  visibility: visible;
}
.msg-container.hidden {
  opacity: 0;
  transition: visibility 0s linear var(--fade-out-time), opacity var(--fade-out-time) ease-in, background 0s linear var(--fade-out-time), color 0s linear var(--fade-out-time);
}
.msg-container.hidden button {
  transition: background 0s linear var(--fade-out-time);
}
.msg-container.warn {
  background: lightcoral;
  color: rgba(21, 21, 21, 0.82);
}
.msg-container.success {
  background: lightgreen;
}

.msg-container.success button{
  background: rgb(41, 117, 6);
}

.msg-container.warn button{
  background: rgb(193, 19, 19);
}

.msg-container button {
  order: 1;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  background: rgb(35, 124, 153);
  color: rgb(255, 251, 251);
  font-size: 14px;
  font-weight:bold;
  cursor:pointer;
}
 /* Toast end */
 
.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:100;
  }
}
@keyframes fadeOut {
  from {
    opacity:100;
  }
  to {
    opacity:0;
  }
}

@keyframes flash {
  from {
    filter: brightness(1.15);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes fadeOutGrow {
  from {
    opacity: 1;
    transform: scale(2);
    background: rgba(255, 255, 255, 0.205);
  }
  to {
    opacity: 0;
    transform: scale(1);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes fadeOutGrow2 {
  from {
    opacity: 1;
    transform: scale(2);
    background: rgba(255, 255, 255, 0.205);
  }
  to {
    opacity: 0;
    transform: scale(1);
    background: rgba(255, 255, 255, 0);
  }
}

